!!!
%html
  %head
    %title Heartlab
    = stylesheets
  %body
    = yield
    
    = javascripts 'jquery-1.6.4'
    = javascripts 'support/underscore', 'support/backbone'

    = javascripts 'support/parallax'
    = javascripts "http://platform.twitter.com/anywhere.js?id=YOUR_API_KEY&v=1"
    :javascript
      var tweet_elems = $('.tweet');
      function twitterCallback(data){
        _.each(data.results, function(tweet,i){
        if(tweet_elems[i]){
          var quote = $(tweet_elems[i]).children()[0];
          quote.innerHTML = tweet.text;
          var cite = $(tweet_elems[i]).children()[1];
          cite.innerHTML = "tweeted by " +tweet.from_user;
          }
        });
      }
    = javascripts "http://search.twitter.com/search.json?q=%23heartlab&callback=twitterCallback&count=5"
    
    = javascripts 'app'
