%h1 Heartlab

#navigation
  %h2 Chapters
  %ul
    %li= link_to "Chapter 1", "#chapter1"
    %li= link_to "Chapter 2", "#chapter2"
    %li= link_to "Chapter 3", "#chapter3"

#chapter0.chapter
  .tweet
    %blockquote= "Tweet"
    %cite= "Author"

  .tweet
    %blockquote= "Tweet"
    %cite= "Author"

  .tweet
    %blockquote= "Tweet"
    %cite= "Author"
    

#chapter1.chapter
  %h1 Chapter 1

  %h2 What does your heart sound like?

  #tweet_box

#chapter2.chapter
  %h1 Chapter 2
  %h3 Show Information

#chapter3.chapter
  %h1 Chapter 3
  %h3 Credential Statement
