#content
  %h1 Heartlab

  #navigation
    %h2 Chapters
    %ul
      %li
        %h3
          %a{:href => "#chapter1"} Chapter One/ <br />Experience
        .divider
        %p experience <br /> heartlab's latest creation
      %li
        %h3
          %a{:href => "#chapter2"} Chapter Two <br />Show Information
        .divider
        %p show details and Artist Statement Anita Levesque & Bradley Smith
      %li
        %h3
          %a{:href => "#chapter3"} Chapter Three/ <br />Curatorial Statement
        .divider
        %p Curatorial statement by Touchstones Nelson co-curator Jessica Demers

  #chapter0.chapter
    .tweet
      %blockquote= "Tweet"
      %cite= "Author"

    .tweet.right
      %blockquote= "Tweet"
      %cite= "Author"

    .tweet
      %blockquote= "Tweet"
      %cite= "Author"
      

  #chapter1.chapter
    %h1 What does your heart sound like?

    %h2 Use the form below to tweet what your heart sounds like. 

    #tweet_box

  #chapter2.chapter
    %h1 Chapter 2
    %h3 Show Information

  #chapter3.chapter
    %h1 Chapter Three
    %h3 Credential Statement

#parallax
  #bluestars.parallax_elem
  #clipped_letters.parallax_elem
  #clipped_stars.parallax_elem
  #origami_lines.parallax_elem
  #stiched_book_1.parallax_elem
  #stiched_book_2.parallax_elem
